keepaway.sh
sample_coach
sample_player
sample_trainer
start.sh
train.sh
build/
cmake-build-debug
.idea/*
*.o
*.Po
compile
config.guess
config.sub
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
autom4te.cache/
config.log
config.status
.deps/
.dirstamp
vscode/
stamp-h1
COPYING
configure
aclocal.m4
